body
{
    background-color: rgb(47, 140, 140);
    color: white;
    text-align: center;
}
h1
{
    text-align: center;
    font-style: italic;
}
h2
{
    color: thistle;
}
#submit
{
    background-color: black;
    color: yellow;
    font-weight: bold;
}